<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ewikse.mycommerce">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".initial.InitApplicationCommerce"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.NewProductActivity"/>

        <activity android:name=".activities.DetailProductActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <receiver
            android:name=".backgroundservices.AlarmReceiverEmail"
            android:process=":remote" >
        </receiver>

        <service android:name=".backgroundservices.EmailService"
            android:exported="false"/>
        <service android:name=".backgroundservices.AlarmEmailService"
            android:exported="false"/>

    </application>

</manifest>